body {
    width: 100%; 
}

.cabecalho {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 0.2em solid white;
    position: fixed;
    margin-left: 3.5%; 
}

img {
    width: 15%;
}

#logo {
    margin-left: 0.5em;
    font-family: fantasy;
    font-size: 2em;
    color: whitesmoke;
    text-shadow: black 0.1em 0.1em 0.2em;
}


.barraNavegar li {
    display: inline-block;
    background: goldenrod;
    border: 0.15em solid white;
    border-radius: 1em;
    text-decoration: none;   
    width: 10em; 
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    margin: 0 10px;
    opacity: 80%;
}

.barraNavegar a {
    font-family:fantasy;
    font-size: 1.2em;
    letter-spacing: 0.09em;
    text-decoration: none;
    color: whitesmoke;
}

.barraNavegar a:hover {
    color: #444444;
}

.barraNavegar li:hover {
    transform: scale(1.1);
}
