body {
    width: 100%; 
}

.cabecalho {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2em;
    position: fixed;
    margin-left: 3.5%;
}

img {
    width: 10.5%;
}

#logo {
    margin-left: 0.5em;
    font-family: fantasy;
    font-size: 1.6em;
    color: whitesmoke;
    text-shadow: black 0.1em 0.1em 0.2em; 
}


.barraNavegar li {
    display: inline-block;
    background: goldenrod;
    border: 0em solid white;
    border-radius: 0.5em;
    text-decoration: none;   
    height: 100%;
    padding: 0.2em 0.8em;
    text-align: center;
    margin: 0.2em;
    opacity: 95%;
}

.barraNavegar a {
    font-family:fantasy;
    font-size: 1.2em;
    letter-spacing: 0.09em;
    text-decoration: none;
    color: whitesmoke;
    
}

.barraNavegar a:hover {
    color: #444444;
}

.barraNavegar li:hover {
    transform: scale(1.1);
}
