#comoJogar {
    background-color: #111111;
    width: 100%;
    height: 100%;
    color:white;
    padding: 3.5em 0;
}

#comoJogar div {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin: 0 2em 0 2em;
}

#comoJogar h2 {
    font-size: 3em;
    font-weight: 800;
    letter-spacing: 0.05em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-transform: uppercase;
}

#comoJogar p {
    font-size: 1.2em;
    padding: 1em 0 0 0;
    line-height: 2em;
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
}

#comoJogar img {
    width: 50%;
}

/*Habilidades de cada classe*/
#habilidades {
    background: #000000;
    color: #FFFFFF;
}

.habilidades-titulo {
    text-align: center;
    font-size: 3em;
    padding: 0.5em;
    letter-spacing: 0.05em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
}

.inputs  {
    text-align: center;
}

.inputs input {
    transform: scale(1.5);
    margin: 0 1em 2em 1em;
}

.texto {
    text-align: center;
    font-size: 1.2em;
    padding: 1em 1em;
    line-height: 2em;
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
}