#comoJogar {
    background-color: #111111;
    width: 100%;
    height: 100%;
    color:white;
    
}

#comoJogar .comoJogar {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 10vw 0vw 0 3vw;
}

#comoJogar h2 {
    font-size: 4vw;
    text-align: center;
    font-weight: 800;
    letter-spacing: 0.08vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-transform: uppercase;
}

#comoJogar p {
    font-size: 1.5vw;
    padding: 1.5vw 0 0 0;
    line-height: 2.5vw;
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0.07vw;
}

.images-comoJogar {
    width: 65%;
    height: 45vw;
    display: inline-block;
}

#comoJogar .skins {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 9vw 0vw 0 3vw;
}

.images-skins {
    width: 65%;
    height: 40vw;
    display: inline-block;
    margin: 0 0 5vw 0;
}
/*Rotas*/
#rotas .rotas-conteudo {
    width:27vw;
    display: inline-block;
    vertical-align: top;
    margin: 7vw 0vw 0 0vw;
}

#rotas h2 {
    font-size: 4vw;
    text-align: center;
    font-weight: 800;
    letter-spacing: 0.08vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    
}

#rotas p {
    font-size: 1.5vw;
    padding: 1.5vw 0 0 0;
    line-height: 2.5vw;
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0.07vw;
    
}

#rotas img {
    width: 65vw;
    height: 46vw;
}

#rotas .rotas-troca {
    width: 3vw;
    height: 3vw;
    border: 0.2vw solid lightskyblue;
    border-radius: 5vw;
    padding: 0.8vw;
    background-color: transparent;
}

#rota-superior.on, 
#rota-inferior.on, 
#rota-meio.on, 
#rota-suporte.on, 
#rota-selva.on {
    transform: scale(1.35);
    transition-duration: 1s;
}


#rota-superior  {
    position: absolute;
    top:165.5vw;
    left: 21vw;
}

#rota-inferior  {
    position: absolute;
    top:185.5vw;
    left: 46vw;
}

#rota-meio  {
    position: absolute;
    top:174vw;
    left: 31.5vw;
}

#rota-suporte  {
    position: absolute;
    top:187vw;
    left: 36vw;
}

#rota-selva  {
    position: absolute;
    top:174.5vw;
    left: 24.5vw;
}



/*Habilidades de cada classe*/
#habilidades {
    background: #111111;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.video-habilidades {
    width: 100%;
    height: 40vw;
    opacity: 100%;
    margin: 0vw auto 1vw;
}

.button-habilidades {
    background-color: transparent;
    color: lightskyblue;
    font-size: 2vw;
    text-shadow: 0.1vw 0.1vw 0.2vw black;
    border: 0.1vw solid lightskyblue;
    margin: 0 0.2vw;
    padding: 0 0.6vw 0.3vw 0.6vw;
}

.button-habilidades:hover {
    color: goldenrod;
    transform: scale(1.1)
}

.titulo-habilidades {
    position: absolute;
    top: 258vw;
    left: 22.35vw;
    width: 55%;
    font-size: 3vw;
    padding: 2vw 0 0 0;
    line-height: 2.4vw;
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.1vw 0.1vw 0.2vw black;
    font-weight: 500;
    letter-spacing: 0.07vw;
}

.texto {
    position: absolute;
    top: 268vw;
    left: 24vw;
    width: 50%;
    font-size: 1.8vw;
    padding: 2vw 0 0 0;
    line-height: 2.4vw;
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.1vw 0.1vw 0.2vw black;
    font-weight: 500;
    letter-spacing: 0.07vw;
}