/*Titulo, fundo e botão de download*/
#download {
    background-image: url(/img/download-fudo.jpeg);
    background-size: 100%;
    width: 97.1%;
    height: 42vw;
    text-align: center;
    padding: 1rem;  
    color: #FFFFFF;
}

.download-titulo {
    font-size: 6vw;
    font-weight: bold;
    position: relative;
    top: 3vw;
}

.botao-download {
    background: rgb(168, 130, 32);
    padding: 1% 2%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2vw ;
    border: 0rem solid #ffffff;
    border-radius: 1vw;
    cursor: pointer;
    position: relative;
    top: 28vw;
}

.botao-download:hover {
    color: #222222;
}