#oQueE {
    width: 100%;
    height: 49.423vw;
    background: #111111;
}

#oQueE h1 {
    font-size: 5.35vw;
    letter-spacing: 0.08vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0.1vw 0.1vw 0.2vw black;
    opacity: 100%;
    position: absolute;
    top: 74vw;
    left: 9.5vw;
}

#oQueE p {
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
    font-size: 1.7vw;
    width: 50%;
    margin:0% auto 0% auto;
    opacity: 100%;
    font-weight: 800;
    letter-spacing: 0.05vw;
    text-size-adjust: 100%;
    color: #FFFFFF;
    line-height: 2vw;
    position: absolute;
    top: 85vw;
    left: 24.5vw;
}

#oQueE .italico {
    font-style: italic;
    position: absolute;
    top: 92vw;
    left: 24.5vw;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 80%;
    
}

.sinopse {
    text-shadow: black 0.1vw 0.1vw 0.2vw;
}
