footer {
    width: 100%;
    height: 100%;
    background: #000000;
}

#tech-fox {
    background-image: url(/img/fundo-footer.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    padding: 0 0 5vw 0;
    text-align: center;
}

.titulo-equipe {
    font-size: 4vw;
    padding: 3vw 0 2vw;
    color: #FFFFFF;
    font-weight: 800;
    letter-spacing: 0.05rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-transform: uppercase;

}

.equipe {
    width: 9vw;
    height: 9vw;
    margin: 1.3vw 0vw;
    display: inline-block;
    border: 2px solid black;
    box-shadow: 1.2vw 1.2vw 2vw black;
    border-radius: 50%;
    background-color: rgb(200, 200, 200);
    -webkit-transition: all 0.4s ease-in;
}
.equipe:hover {
	-webkit-transform: scale(1.5);
}
.footer {
    text-align: center;
    padding: 1vw 0 0.8vw 0;
}

.footer img {
    text-align: justify;
    display: inline-block;
    width: 10vw;
}
.copyright {
    text-align: center;
    font-size: 1vw;
    margin: 0.9vw 1vw;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: top;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*ToolTip das imagens dos integrantes do grupo*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0.1vw dotted black;
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  margin: 2vw;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 12vw;
    background-color: rgb(2, 2, 2, 70%);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 0.6vw;
    padding: 1vw 0;
    font-size: 1.4vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    /*POsição teste*/
    width: 12vw;
    top: 100%;
    left: 50%;
    margin-left: -8vw; 
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  text-align: center;
    width: 12vw;
  height: 2.5vw;
  padding: 1.5vw;
}

.LinkPerfil{
    padding: 1vw 0vw;
    color: rgb(255, 255, 255);
}
.LinkPerfil:hover{
	color: rgb(200, 200, 200);
}
