@media (max-width: 550px) {
    .barraNavegar {
       display: none;
   }

   .one,
   .two,
   .three {
       background-color: #ffffff;
       height: 0.5vw;
       width: 100%;
       margin: 0.8vw auto;
       border-radius: 1vw;

       transition-duration: 0.3s;
   }

   .menu-toggle {
        width: 4vw;
        height: 4.7vw;
        margin-right: 8vw;
   }

   .barraNavegar.on {
       display: block;
       text-align: center;
       position: absolute;
       top: 5.5vw;
       right: 0;

       width: 20vw;
       height: 16vw;

       z-index: 1001;

       background-color: #111111;
   }

   .barraNavegar.on  li {
       position: relative;
       right: 3.3vw;
       top: 1vw;
       display: block;
       line-height: 3vw;
    }

    .barraNavegar.on .barraNavegar a {
        transition-duration: 0.5s;
    }

    .inputs input {
        transform: scale(0.7);
        top: 0.7vw;
    }
}
