body {
    width: 100%; 
}

#cabecalho {
    opacity: 95%;
    width: 100%;
    display: flex;
    margin: 1%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    /*background: #444444;*/
    z-index: 1000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.8s;
}



.tfImg{
   position: relative;
   width: 20vw;
   transition: 0.8s;
}

.barraNavegar li {
    display: inline-block;
    text-decoration: none;
    height: 100%;
    margin: 0 0 0 3vw;
    text-shadow: black 0.15vw 0.15vw 0.25vw;
    position: relative;
    right: 30vw;
}

.barraNavegar a {
    /*font-family:FreeMono, monospace;*/
    font-family: fantasy;
    font-size: 2vw;
    letter-spacing: 0.2vw;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.barraNavegar a:hover {
    color: #f04324; 
}
