body {
    background: #db5c37;
    color: #ffffff;
    text-shadow: 0vw 0vw 0 black;
}

.perguntas {
    
    border: 0.2vw solid #ffffff;
    margin: 2vw 2.5vw;
    padding: 1vw;

}

.perguntas:hover {
    transform: scale(1.04);
    color: #3b3a3a;
    border-color: #3b3a3a;
}

.titulo-duvida {
    margin: 3vw;
    font-size: 3vw;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5;
}

h2.on {
    margin:0vw 0vw 1vw 1vw;
    font-size: 1.5vw;
}

p{
    display: none;
}

p.on{
    display: inline;
    margin: 2vw 1vw;
    font-size: 1.2vw;
}
