body{
    background: #db5c37;
    color: #ffffff;
    text-shadow: 0.1vw 0.1vw 0.1vw black;
}

#home {
    background-image: url(../img-site/fundo-tf1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 135%;
    width: 100vw;
    height: 28vw;
}

#home h1{
    font: 2vw FreeMono, monospace	;
    letter-spacing: 0.3vw;
    color: white;
}

.homeItens {
    position: relative;
    top: 12vw;
    display: flex;
    justify-content: space-between;
    padding: 0 6vw;
    align-items: center;
}

.homeLinha {
    width: 18.5vw;
    height: 0.2em;
    background-color: white;
    margin-top: 0.5vw;
}

.trofeu {
    width: 15%;
}

.sobre-titulo {
    margin-top: 3vw;
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.sobre-texto p {
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
    letter-spacing: 0.03rem;
    text-size-adjust: 100%;
    line-height: 2vw;
    font-size: 1.7vw;
    padding: 0 10vw;
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
}

.texto-inicial {
    margin-top: 5vw;
}