.equipe{
    margin: 5vw 10vw;
    text-shadow: 0.1vw 0.1vw 0.1vw black;
}

.equipe img {
    display: inline-block;
    float: left;
    background: #cccccc;
    border: 0.2vw solid #ffffff;
    border-radius: 25vw;
    width: 15vw;
    height: 15vw;
}

.texto {
    display: inline-block;
    vertical-align: top;
    margin: 2vw 3vw;
    width: 50vw;
}

.texto h2 {
    padding: 0vw 0vw 1.5vw ;
    font-size: 1.8vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.texto p {
    padding: 2vw 0vw 0vw;
    font-size: 1.5vw;
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
}
