.equipe{
    margin: 3vw 2vw;
}

.equipe img {
    display: inline-block;
    border: 0.2vw solid black;
    border-radius: 25vw;
    width: 12vw;
    height: 12vw;
}

.texto {
    display: inline-block;
    vertical-align: top;
    margin: 2vw 1.4vw;
    
}

.texto h2 {
    padding: 0vw 0vw 1vw ;
    font-size: 1;
}

.texto p {
    padding: 0vw 0vw 1vw;
    font-size: 1;
}